/* Denifiniçoes gerais */

html, body, figure, img, div, input, textarea, p, h1, h2, h3, ul, li ,a, main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.hidden{
    display: none;
}

.coluna{
    flex-basis: 49%;
}
/* Variaveis Root */
:root{
    --corBackgroundPrimaria:#45dbfc;
    --corBackgroundSecundaria:#04133d;
}
/* Cabeçalho*/

header{
    background: var(--corBackgroundPrimaria);
    padding: 30px 30px 0;
}
header .container{
    width: 100%;
    max-width: 1125px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    position: relative;
}
header .linha{
    align-items: center;
}

header .colunaDir {
    flex-basis: 60%;
    text-align: center;
}
header .colunaEsq{
   flex-basis: 30%; 
}

header .coluna img{
    margin-top: 20px;
    max-width: 100%;
}
header .coluna h1{
    font-size: 1.5rem;
    margin-top: 20px;
}
header .coluna p{
    font-size: 1rem;
    color: #636363;
}
header .coluna ul {
    margin-top: 20px;
    text-align: left;
}
header .coluna ul li{
    margin-bottom: 10px;
}
header .coluna ul li a{
    font-size: 1rem;
    color: black;
}

/* Pagina Principal */

main{
    color: black;
}
main .container{
    width: 1125px;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
}

main .coluna section{
    border-bottom: solid var(--corBackgroundPrimaria) 1px ;
    padding: 30px;
    margin-bottom: 20px;
;
}
main .coluna section h2{
    font-size: 1.3rem;
    color: black;
}
main .coluna section p{
    font-size: 1rem;
    color: #636363;
    margin-top: 20px;
    line-height: 1.5;
}
main .coluna section .especs{
    display: flex;
}
main .coluna section .especs li{
    margin-right: 40px;
    text-align: center;
    margin-top: 25px;
}
main .coluna section ul li{
    margin-top: 20px;
    color: black;
}
main .coluna section ul li img{
    width: 50px;
}

main .coluna section ul li h3{
    font-size: 1,1rem;
    color: black;
}
main .coluna section ul li strong{
    font-style: italic;
    color: black;
}
main .coluna section ul li p{
    margin-top: -0.5px;
}
main .colunaDir .formation{
    margin-top: 20px;
    margin-bottom: -20px;
    color: black;
}

/* Footer */

footer{
    background: var(--corBackgroundSecundaria);
}
footer .container{
    width: 1125px;
    max-width: 100%;
    margin: -23px auto;
    padding: 30px;
}

footer nav ul li{
    margin-bottom: 15px;
    margin-right: 28px;
}
footer nav ul li a{
    color: #fff;
}
footer nav .infoCont{
    margin: 0px 0 33px 9%;
}
footer nav .infoCont li{
    margin-bottom: 20px;
}

.textCont{
    margin-top: -31px;
    text-indent: 40px;
}
.textCont:hover{
    text-shadow: 0 0 3px green;
}

footer nav .redesocial{
    display: block;
    justify-content: center;
    border-top: solid 1px #ffffff2e;
    padding-top: 30px;  
}
footer nav .redesocial li{
    margin: 0 20px;
    text-align: center;
    margin: 25px 20px 0;
}

footer nav .redesocial li a img{
    width: 45px;
    transition: .3s;
}
footer nav .redesocial li a:hover img{
    transform: scale(1.2) translateY(-10px);
}


/* EXTRAS */
input{
    display: none;
}
label{
    position: absolute;
    top: 7px;
    right: 30px;
    width: 52px;
    height: 30px;
    background:#04133d;
    border-radius: 20px;
    padding: 5px 5px;
    box-sizing: border-box;
    cursor: pointer;
}
label span{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #45dbfc;
    display: block;
    transition: all ease 0.3s;
    
}
.active-dark:checked ~ .dark-mode label{
    background: #45dbfc;
}
.active-dark:checked ~ .dark-mode label span{
    background: #04133d;
    transform: translateX(20px);
    transition: all ease 0.3s;
}

.active-dark:checked ~ .dark-mode{
    --corBackgroundPrimaria: #000;
    --corBackgroundSecundaria:#000;
}
.active-dark:checked ~ .dark-mode header h1{
    color: white;
}
.active-dark:checked ~ .dark-mode header{
    background: var(--corBackgroundSecundaria);    
}
.active-dark:checked ~ .dark-mode .container{
    background: #0e0e0e;    
}
.active-dark:checked ~ .dark-mode header .coluna ul li a{
    color: white;
}


.active-dark:checked ~ .dark-mode main .coluna section{
    border: solid var(--corBackgroundPrimaria) 1px;
    box-shadow: inset 0 0 0.5em white;
}
.active-dark:checked ~ .dark-mode main .colunaDir .formation{
    color: white;
}
.active-dark:checked ~ .dark-mode main .coluna section h2{
    color: white;
}
.active-dark:checked ~ .dark-mode main .coluna section ul li{
    color: white;
}
.active-dark:checked ~ .dark-mode main .coluna section ul li h3{
    color: white;
}
.active-dark:checked ~ .dark-mode .coluna section ul li strong{
    color: white;
}
.active-dark:checked ~ .dark-mode main{
    background: var(--corBackgroundSecundaria) ;
}
.active-dark:checked ~ .dark-mode main.container{
    background: var(--corBackgroundSecundaria) ;

}

/* @Media  */

@media only screen and (min-width: 768px){
    .linha{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    header{
        padding: 30px 0 0 0;
    }

    header .coluna img {
        border-radius: 100%;
        max-width: 300px;
        
    }

    header .coluna h1 {
        margin-top: 0px;
    }

    header .colunaDir {
        text-align: left;
        flex-basis: 56%;
        
        
    }
    main .coluna section{
        border: solid #d4e9ff 1px;
        box-shadow: inset 0 0 0.5em  rgba(69, 154, 252, 0.486);
    }

    footer .container {
        margin: 0 auto; 
    }

    footer nav .infoCont {
        
        margin: 40px 0 0 14%;
    }
    footer nav .redesocial{
        display: flex;
        padding-top: 37px;
    }
    footer nav .redesocial li{
        margin: 0 20px;
    }
    label{
        top: 30px;
}

@media only screen and (min-width: 991px){

    header .colunaDir {
    
        flex-basis: 65%;
    }
    footer nav .infoCont {
        display: inline-flex;
    }
}